<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.master.TbLabelRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.test.entity.major.TbLabelRelation">
        <result column="ID" property="id" />
        <result column="LABEL_ID" property="labelId" />
        <result column="HIS_ID" property="hisId" />
        <result column="RELATION_ID" property="relationId" />
        <!--<result column="CREATE_TIME" property="createTime" />-->
        <!--<result column="UPDATE_TIME" property="updateTime" />-->
        <result column="DB_ID" property="dbId" />
        <result column="IDENTITY_NO" property="identityNo" />
        <result column="VALID_RANGE" property="validRange" />
        <result column="STATUS" property="status" />
        <result column="CUSTOM1" property="custom1" />
        <result column="CUSTOM2" property="custom2" />
    </resultMap>

</mapper>
